.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}
body {
  margin: 0;
}

/* I use this to remove underlive in Link tags  */
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

/* navbar images reponsive */
@media only screen and (max-width: 600px) {
  img {
    display: none;
  }
}

/* mentor navbar user button */
.user-button {
  color: white;
  background-color: #d32f2f;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 35px;
  padding-top: 4px;
  padding-bottom: 7px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* removes border after clicking */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/* makes all button width same */
button {
  width: 150px;
}

.clicked {
  color: red;
}
